.App {
  background-color: #78979b;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: fit-content;
  border-radius: 12px;
  width: fit-content;
  text-align: center;
  overflow: auto;
  box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.796);
}

.header {
  background: linear-gradient(360deg, rgb(0, 220, 220), rgb(0, 126, 161));
  padding: 1.5rem;
  color: white;
}

.header p {
  color: black;
}

.footer {
  background: linear-gradient(360deg, rgb(0, 220, 220), rgb(0, 126, 161));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: -0.4rem;
  color: white;
  font-size: 1.35rem;
}

h1 {
  margin-bottom: 0.3rem;
  font-size: 2.25rem;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.list {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
  margin-bottom: 2rem;
}

.clear-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem 0rem 1.1rem 0rem;
  font-size: 1.05rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  transition: all 0.25s ease-in-out;
}

.clear-button:hover {
  background-color: rgb(0, 200, 200);
}

.task-complete {
  color: rgb(90, 90, 90);
  text-decoration: line-through;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-complete:hover {
  color: white;
  text-decoration: line-through;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

input[type=text] {
  background-color: rgb(240, 240, 240);
  padding: 0.35rem;
  border: none;
  width: fit-content;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right: 6px;
  flex-grow: 2;
}

input[type=text]:focus {
  outline-color: rgb(0, 200, 200);
  outline-style: solid;
  outline-width: 0.15rem;
}

::placeholder {
  color: #898989;
}

button[type=submit] {
  border-radius: 5px;
  width: 45px;
  height: 35px;
  line-height: 25px;
  border: none;
  font-size: 2.25rem;
  text-align: center;
  background: linear-gradient(45deg, rgb(0, 237, 237), rgb(0, 144, 184));
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  margin-top: 20px;
  margin-bottom: 23px;
}

button[type=submit]:hover {
  background: linear-gradient(45deg, rgb(0, 150, 150), rgb(0, 107, 137));
  color: white;
  transition: all 0.35s ease-in-out;
}

.fade {
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.fade:nth-child(even) {
  background-color: rgb(0, 200, 200);
}

.fade:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}